* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #FBFAFF;
    min-height: 100vh;
    font-family: 'Inter';
    line-height: 130%;
}

#app {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.drag-files {
    background: #F3F0FF;
    border: 1px dashed #C1b2Fa;
    border-radius: 8px;
    width: 440px;

    text-align: center;
    padding: 28px 0 32px;

    position: relative;
}

.drag-files input {
    all: unset;
    opacity: 0;
    inset: 0;
    position: absolute;
}

.drag-files i.ph {
    font-size: 48px;
    color: #7c3aed;
}

.drag-files h3 {
    margin-top: 12px;

    color: #7a5fec;
    font-style: 16px;
}

.drag-files p {
    font-size: 14px;
    color: #746e82;
}

.drag-files.dragover {
    background: #ebe6ff;
}