* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #FBFAFF;
    min-height: 100vh;
    font-family: 'Inter';
    line-height: 130%;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 440px;
    width: 90%;
    margin: auto;
}

.drag-files {
    background: #F3F0FF;
    border: 1px dashed #C1b2Fa;
    border-radius: 8px;

    text-align: center;
    padding: 28px 0 32px;

    position: relative;
}

.drag-files input {
    all: unset;
    opacity: 0;
    inset: 0;
    position: absolute;
}

.drag-files i.ph {
    font-size: 48px;
    color: #7c3aed;
}

.drag-files h3 {
    margin-top: 12px;

    color: #7a5fec;
    font-style: 16px;
}

.drag-files p {
    font-size: 14px;
    color: #746e82;
}

.drag-files.dragover {
    background: #ebe6ff;
}

.files {
    margin-top: 20px;
    display: grid;
    gap: 12px;
}

.box {
    padding: 8px;
    width: 440px;
    background: #ffffff;
    box-shadow: 0px 4px 16px #Eae2fd;
    border-radius: 8px;

    display: flex;
    gap: 12px;

    --icon-bg: #eee
    --icon-color: #aaa;
    --progress-color: black;
    --progress-text: #999
}

.box .icon {
    background: var(--icon-bg);
    border-radius: 4px;

    padding: 16px 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box .icon i {
    font-size: 24px;
    color: var(--icon-color);
}

.box .info {
    flex: 1;
}

.info .filename {
    font-size: 14px;
    font-weight: 700;
    color: #575361;
}

.info .filesize {
    color: #857e95;
    font-weight: 500;
    font-size: 12px;
}